body, html {
    margin: 0;
    padding: 0;
    max-width: 500%;
    height: 1px;
  }
  
  /* Estilo de la barra de navegación */
  .navegacion {
    background-color: rgb(29, 27, 27);
    font-size:30px ;
  }
  
  .navegacion ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%; /* Ocupar el 100% del ancho de la barra de navegación */
  }
  
  .navegacion li {
    display: inline;
  }
  
  .navegacion a {
    text-decoration: none;
    color: #f3f3f3; /* Cambia esto según tus necesidades */
    padding: 5px;
    display: block;
  }
  
  /* Hover abajo verde */
  .navegacion a:hover {
    border-bottom: 3px solid #00ff00; /* Verde */
  }
 .titulo-sobrenosotros{
  color: #457c2c;
  font-size: 50px;
  margin-left: 100px;
  margin-top: 50px!important;
}
.titulo-sobrenosotros::after{

    content: "_";
    display: block;
    margin-top: -30px; /* Ajusta el valor negativo según tus necesidades */
  }
  .parrafo{
    padding-bottom: 1.25rem;
    padding: 0 0 0.875rem;
    margin: 0;
    font-size: 25px;
    width: 30%;
    margin-top: -30px!important;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    word-wrap: break-word;
    word-break: break-word;
    font-weight: 400;
    text-align: right;
     margin-right: 0;
     margin-left: 50%;
    color: #666;
  }

  .imagen1{
    margin-left: 10%;
    width: 70%;
    height: 55.20879120879%;
    position: absolute;
   border-radius: 5px;
  }
  .imagen2{
    height: 450px;
    margin-top: 30%;
    margin-left: 10%;
    border-radius: 5px;
  }
  .parrafo2{
    margin-top: -20%;
    margin-left: 50%;
  }
  .titulo2{
    font-size: 3rem;
    color: #457c2c;

  }
  .parrafo-ods{
    padding-bottom: 1.25rem;
    color: #666;
    font-size: 25px;
  }