body, html {
    margin: 0;
    padding: 0;
    max-width: 500%;
    height: 1px;
  }
  
  /* Estilo de la barra de navegación */
  .navegacion {
    background-color: rgb(29, 27, 27);
    font-size:30px ;
  }
  
  .navegacion ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%; /* Ocupar el 100% del ancho de la barra de navegación */
  }
  
  .navegacion li {
    display: inline;
  }
  
  .navegacion a {
    text-decoration: none;
    color: #f3f3f3; /* Cambia esto según tus necesidades */
    padding: 5px;
    display: block;
  }
  
  /* Hover abajo verde */
  .navegacion a:hover {
    border-bottom: 3px solid #00ff00; /* Verde */
  }
 .titulo-sobrenosotros{
  color: #457c2c;
  font-size: 80px;
  margin-left: 50px;
  margin-top: 80px!important;
}
.titulo-sobrenosotros::after{

    content: "_";
    display: block;
    margin-top: -50px; /* Ajusta el valor negativo según tus necesidades */
  }
  .parrafo{
   align-items: center;
   margin: 0;
   justify-content: center;
   display:f ;
   margin-top: -9%;
  }

  .inseider{
    color: #666;
    width: 55%;
    align-items: right;
    font-size: 30px;
    margin-left: 40%;
    margin-top: 10px;
    
  }

  .imagen1{
    margin-left: 10%;
    width: 70%;
    height: 55.20879120879%;
    position: absolute;
   border-radius: 5px;
  }
  .imagen2{
    height: 450px;
    width: 30%;
    margin-top: 30%;
    margin-left: 10%;
    border-radius: 5px;
  }
  .parrafo2{
    margin-top: -20%;
    margin-left: 50%;
  }
  .titulo2{
    font-size: 3rem;
    color: #457c2c;
    margin-left: -10px;
    margin-bottom: 40px;
    margin-top: -465px;

  }
  .parrafo-ods{
    padding-bottom: 1.25rem;
    color: #666;
    font-size: 25px;
  }
  .imagenes{
    margin-top: 80px;
  }